extends landingpage

block content
div.carousel.slide(id="myCarousel")
    div.carousel-inner
      div.item.active
        img(src="images/landingPageGirl2.jpg")
        div.container(id="captionContainer")
          div.carousel.caption
            h1 Get your HAIR HERE!