<form action="/stylists" method="post">
	<div class="form-group">
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="usnername" name="username" placeholder="Choose a Username" required>
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Choose a Password" required>
	</div>
	<div class="form-group">
		<label for="password">Re-Enter Password:</label>
		<input type="password" class="form-control" id="passwordvalidate" name="passwordvalidate" placeholder="Re-Enter Password" required>
	</div>
 	<div class="form-group">
    	<label for="inputemail">Email</label>
     	<input type="email" class="form-control" id="inputemail" name="inputemail" placeholder="Email" placeholder="Enter Your Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

